<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">

</head>

<body style="background-color:azure;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
  <!--     <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Road Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html">The Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Predictive Model</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/data-background2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Exploring past fatal drunk driving accidents across the US</h1>
            <h2 class="subheading">Using data from the Fatality Accident Reporting System over 2007-2017</h2>
      <!--      <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Everyone always says, “don’t drink and drive,” yet drunk driving is an issue widespread in the United States that continues to take tens of thousands of lives each year. These deaths are accidents that can be and should be avoided.</p>
          <a href="#">
            <img class="/static/img-fluid" src="/static/img/over-time.jpg" alt="" width="650" height="700">
          </a>

          <h2 class="section-heading">Quick Facts</h2>

          <p>- In the US, drunk drivers are responsible for 31% of all traffic-related deaths.</p>

          <p>- On average, someone in the US is killed every 51 minutes in a drunk driving accident. This means, that 27 people die, on average, because of a drunk driving accident.</p>

          <p>- Deaths and damages due to drunk driving accidents cost the US roughly $52 billion per year.</p>

        <!--  <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote> -->

          <h2 class="section-heading">Exploratory Analysis</h2>

          <p></p>

          <h5>Across California,  men are responsible for 4.8 times as many fatal DUI accidents over the 11-year span compared to women.</h5>

          <a href="#">
            <img class="/static/img-fluid" src="/static/img/gender-age-graphic.jpg" alt="" width="680" height="545">
          </a>
          <span class="caption text-muted">Each point represents the aggregated average from 2007-2017.</span>

          <p></p>

          <h5>Unsurprisingly, the number of drunk driving fatal accidents are highest during times when people are typically drinking more – at night, on weekends, during summer, on holidays.</h5>

          <a href="#">
            <img class="/static/img-fluid" src="/static/img/time-graphic.jpg" alt="" width=width="620" height="545">
          </a>

          <p></p>

          <h5>Fatal DUI accidents occur 5 times more frequently on holidays than on regular days of the year.</h5>

          <a href="#">
            <img class="/static/img-fluid" src="/static/img/holiday-graphic.jpg" alt="" width=width="620" height="545">
          </a>


          <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>

          <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>

          <p>Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/clean-blog.min.js"></script>

</body>

</html>
