<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>

    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h2>Fatal Drunk Driving Accidents in California</h2>

      <label class="bk">Enter date:</label>
      <form method="POST">
        <input name="text" value = "{{curr_date}}">
        <input type="submit">
      </form>

      {{ div | safe }}

    </div>
  </body>
</html>
