<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Down the Road</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">

</head>

<body style="background-color:azure;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
  <!--     <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">Road Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html">Past Accidents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/data-background2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Exploring past fatal drunk driving accidents across the US</h1>
            <h2 class="subheading">Using data from the Fatality Analysis Reporting System over 2007-2017</h2>
      <!--      <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Everyone always says, “don’t drink and drive,” yet drunk driving is an issue widespread in the United States that continues to take thousands of lives each year. These deaths are accidents that can be and should be avoided.</p>
          <a href="#">
            <img class="/static/img-fluid" src="/static/img/over-time.jpg" alt="" width="650" height="700">
          </a>

          <hr>
          <h2 class="section-heading">Quick Facts</h2>
          <p>- In the US, drunk drivers are responsible for 31% of all traffic-related deaths.</p>
          <p>- On average, someone in the US is killed every 51 minutes in a drunk driving accident. This means that, on average, 28 people die each day because of a drunk driving accident.</p>
          <p>- Deaths and damages due to drunk driving accidents cost the US roughly $52 billion per year.</p>
          <hr>
        <!--  <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote> -->

          <h2 class="section-heading">Exploratory Analysis</h2>
          <p>Exploratory analysis on factors that contribute to the prevalence of fatal DUI accidents was broken down into 3 questions:</p>
          <ol>
            <li><b>Who</b> is responsible for these accidents? </li>
            <li><b>Where</b> do these accidents occur? </li>
            <li><b>When</b> do these accidents occur?  </li>
          </ol>
          <p><i>Note: The following visuals were created using data from the Fatality Analysis Reporting System over 2007-2017. You can find more details on this dataset described in section 1 of the <a href="about.html">Road Map</a> page.</i></p>

          <p></p>

          <h3>1. Who?</h3>
          <p></p>
          <h5>Across the US, men were responsible for 5.2 times as many fatal DUI accidents over the 11-year span compared to women. In particular, 21-year-old men were the demographic with the most past instances. </h5>
          <img class="/static/img-fluid" src="/static/img/gender-age-graphic.jpg" alt="" width="680" height="545">
          <span class="caption text-muted">Each point represents the aggregated average from 2007-2017.</span>
          <p></p>
          <h5>Whites were involved in significantly more fatal DUI accidents than any other race from 2011-2017. However, this is likely because whites make up the largest percentage of the population.</h5>
          <img class="/static/img-fluid" src="/static/img/race-graphic.jpg" alt="" width="400" height="500">
          <p></p>

          <h3>2. Where?</h3>
          <p></p>
          <h5>Texas, California, and Florida (three of the most highly populated states in the country) had the highest number of fatal DUI accidents over the 11-year span. </h5>
          <img class="/static/img-fluid" src="/static/img/state-instances.jpg" alt="" width="680" height="520">
          <p></p>
          <h5>However, when population density is taken into account a cluster of states in the Midwest region of the country (Montana, North Dakota, and Wyoming) had the highest fatal DUI accident rates per 100,000 occupants.</h5>
          <img class="/static/img-fluid" src="/static/img/state-rates.jpg" alt="" width="680" height="520">
          <span class="caption text-muted">Population data by state was provided by the United States Census Bureau.</span>
          <p></p>

          <h3>3. When?</h3>
          <p></p>
          <h5>Unsurprisingly, the number of drunk driving fatal accidents are highest during times when people are typically drinking more – at night, on weekends, during summer, on holidays.</h5>
          <img class="/static/img-fluid" src="/static/img/time3-graphic.jpg" alt="" width=width="510" height="410">
          <p></p>
          <h5>Fatal DUI accidents occur 5 times more frequently on holidays than on regular days of the year.</h5>
          <img class="/static/img-fluid" src="/static/img/holiday-graphic.jpg" alt="" width=width="620" height="545">
          <p></p>
          <p></p>
          <hr>
          <p>Knowing who is responsible and when these accidents are occurring can help us improve upon preventative measures. <a href="index.html">Down the Road</a> attempts to highlight these contributing factors regionally in the state of California.</p>

        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/clean-blog.min.js"></script>

</body>

</html>
